.article_container h1 {
    font-size: 2rem;
}

.article_container p {
    font-size: 1.3rem;
}

.image-container {
    width: 100%;
    margin: 25px 0;
}

.image-container .image {
    width: 100%;
}
.article_container{
    max-width: 1200px;
    margin: 0 auto;
}
.article-text{
    line-height: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
}